main{
    flex: 1;
}

main{
    display: grid;
    grid-template-columns:1fr;
    gap: 20px;
    list-style: none;
    width: 100%;
}

@media (max-width: 650px){
    main{
        grid-template-columns: 1fr;
    }
}